.navbar {
    /* Adjust background color and padding as needed */
    background-color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    /* Adjust color as needed */
    color: #333;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
   
    &:focus {
      outline: none;
    }
  }
  
  .navbar-toggler .navbar-toggler-icon {
    
    color: #333;
  }
  
  .collapse.navbar-collapse {
    
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-nav {
    
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link.active,
  .nav-link:hover {
    
    color: #007bff;
   
    text-decoration: underline;
  }
  
  .btn-danger {
   
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    
    &:hover {
      background-color: #c8233c;
      border-color: #c8233c;
    }
  }
  
 
  @media (max-width: 768px) {
    .navbar-nav {
      /* Adjust navbar behavior for smaller screens */
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 10; /* Ensure menu appears above other content */
      transition: all 0.3s ease-in-out;
      transform: translateY(-100%); /* Hide initially */
    }
  
    .navbar-nav.show {
      transform: translateY(0); /* Show menu on toggle */
    }
  
    .navbar-toggler {
      /* Adjust toggle button position for mobile */
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  